.more-btn__container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px 480px 80px;
}

.more-btn {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 36px;
  align-items: center;
  text-align: center;
  color: #000;
  background-color: #F9F9F9;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: opacity .3s ease;
}

.more-btn:hover {
  opacity: .8;
}

@media screen and (max-width: 1023px) {
  .more-btn__container {
    padding-left: 224px;
    padding-right: 224px;
  }
}

@media screen and (max-width: 767px) {
  .more-btn__container {
    padding-left: 40px;
    padding-right: 40px;
  }
}