.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 410px;
  padding: 0 0 70px;
}

.profile-form__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: #000;
  max-width: 410px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 74px 0 120px 0;
}

.profile-form__fieldset {
  display: flex;
  width: 100%;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0 0 200px;
}

.profile-form__input-label:nth-child(1) {
  border-bottom: 1px solid #e8e8e8;
}

.profile-form__input-label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.18;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-form__input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 1.18;
  text-align: right;
  color: #000;
  background: transparent;
  width: 90%;
  height: 34px;
  border: none;
  outline: none;
  padding: 0;
}

.profile-form__input:focus {
  outline: none;
  font-size: 13px;
}

.profile-form__input:invalid {
  color: #EE3465;
}

.profile-form__input-error {
  opacity: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.2;
  color: #FF4062;
}

.profile-form__input-error_visible {
  opacity: 1;
}

.profile-form__error-message {
  display: block;
  font-family: 'Inter';
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  line-height: 1.2;
  color: #EE3465;
  width: 100%;
  text-align: left;
  padding: 0;
  margin-top: 5px;
}

.profile-form__edit-btn {
  width: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.23;
  align-items: center;
  text-align: center;
  color: #000;
  cursor: pointer;
  border: none;
  padding: 0 0 16px;
  background: transparent;
  transition: opacity .3s ease;
}

.profile-form__edit-btn_disabled {
  color: #C2C2C2;
  pointer-events: none;
}

.profile-form__edit-btn:hover {
  opacity: .8;
}

.profile-form__signout-btn {
  width: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.23;
  align-items: center;
  text-align: center;
  color: #FF4062;
  cursor: pointer;
  border: none;
  background: transparent;
  transition: opacity .3s ease;
}

.profile-form__signout-btn:hover {
  opacity: .8;
}

@media screen and (max-width: 1023px) {
  .profile-form__title {
    padding-top: 236px;
    padding-bottom: 72px;
  }

}

@media screen and (max-width: 767px) {
  .profile {
    padding: 0 30px;
  }

  .profile-form__title {
    padding-top: 70px;
    padding-bottom: 56px;
  }

  .profile-form__edit-btn {
    font-size: 12px;
    line-height: 1.25;
  }

  .profile-form__signout-btn {
    font-size: 12px;
    line-height: 1.25;
  }

  .profile-form {
    max-width: 260px;
    padding: 0 0 40px;
  }

  .profile-form__fieldset {
    padding: 0 0 360px;
  }
}
