.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 410px;
}

.profile-form__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: #000;
  max-width: 410px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 74px 0 120px 0;
}

.profile-form__fieldset {
  display: flex;
  width: 100%;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
}

.profile-form__input-label:nth-child(1) {
  border-bottom: 1px solid #e8e8e8;
}

.profile-form__input-label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.18;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-form__input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 1.18;
  text-align: right;
  color: #000;
  width: 100%;
  height: 48px;
  border: none;
  outline: none;
  padding: 0;
}

.profile-form__input:focus {
  outline: none;
}

.profile-form__submit-btn {
  width: 100%;
  padding: 190px 0 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.23;
  align-items: center;
  text-align: center;
  color: #000;
  cursor: pointer;
  border: none;
  background: transparent;
  transition: opacity .3s ease;
}

.profile-form__submit-btn:last-of-type {
  color: #FF4062;
  font-weight: 500;
  padding: 0 0 70px;
}

.profile-form__submit-btn:hover {
  opacity: .8;
}

.profile-form__submit-btn:disabled {
  color: #C2C2C2;
}

@media screen and (max-width: 1023px) {
  .profile-form__title {
    padding-top: 236px;
    padding-bottom: 72px;
  }

  .profile-form__submit-btn {
    padding-top: 186px;
  }
}

@media screen and (max-width: 767px) {
  .profile-form__title {
    padding-top: 70px;
    padding-bottom: 56px;
  }

  .profile-form__submit-btn {
    font-size: 12px;
    line-height: 1.25;
    padding-top: 355px;
  }

  .profile-form {
    max-width: 260px;
  }
}