.auth-form__section {
  width: 100%;
  padding: 70px 0;
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 396px;
  margin: 0 auto;
}

.auth-form__fieldset {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
}

.auth-form__input-label {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.1;
  color: #A0A0A0;
  margin-top: 24px;
}

.auth-form__input-label:first-child {
  margin: 0;
}

.auth-form__input {
  box-sizing: border-box;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  color: #000;
  height: 34px;
  border: none;
  border-bottom: solid 1px #E8E8E8;
  width: 100%;
}

.auth-form__input:invalid {
  color: #EE3465;
}

.auth-form__input:focus {
  outline: none;
  border: solid 1px #E8E8E8;
  border-radius: 3px;
}

.auth-form__input-error {
  opacity: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.2;
  color: #FF4062;
}

.auth-form__input-error_visible {
  opacity: 1;
}

.auth-form__request-text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #A0A0A0;
  margin: 0;
}

.auth-form__submit-btn {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #FFFFFF;
  border: none;
  height: 45px;
  background-color: #000;
  border-radius: 3px;
  margin: 134px 0 16px;
  width: 100%;
  transition: opacity .3s ease;
  cursor: pointer;
}

.auth-form__submit-btn:hover {
  opacity: .8;
}

.auth-form__submit-btn_disabled {
  background-color: #C2C2C2;
  pointer-events: none;
}

.auth-form__password-icon {
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: none;
  outline: none;
  background-size: cover;
  position: absolute;
  bottom: 8px;
  right: 4px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.auth-form__password-icon:hover {
  opacity: .8;
}

.auth-form__password-icon_text {
  background-image: url('../../images/eye-opened.svg');
}

.auth-form__password-icon_password {
  background-image: url('../../images/eye-closed.svg');
}

.auth-form__password-input-container{
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.auth-form__link {
  text-decoration: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #000000;
  transition: opacity .3s ease;
}

.auth-form__link:hover {
  opacity: .7;
}

.auth-form__error-message {
  display: block;
  font-family: 'Inter';
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  line-height: 1.2;
  color: #EE3465;
  width: 100%;
  text-align: left;
  padding: 0;
  margin-top: 5px;
}

.preloader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 1023px) {
  .auth-form__section {
    padding: 232px 0;
  }
}

@media screen and (max-width: 767px) {
  .auth-form {
    align-items: center;
  }

  .auth-form__request-text {
    font-size: 12px;
    line-height: 1.25;
  }

  .auth-form__link {
    font-size: 12px;
    line-height: 15px;
  }
}
