.search-form {
  max-width: 1280px;
  padding: 80px 70px 31px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form__container {
  width: 100%;
}

.search-form__input {
  width: calc(100% - 102px);
  height: 44px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.29;
  /* background: #F9F9F9; */
  border-radius: 4px;
  border: solid 1px #EBEBEB;
  text-align: left;
  padding: 0 0 0 22px;
  outline: none;
}

.search-form__input:focus {
  outline: none;
  background-color: #FFF;
  border: solid 1px #000;
  border-radius: 4px;
}

.search-form__input-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form__submit-btn {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #FFF;
  width: 70px;
  height: 44px;
  background: #000;
  border: none;
  padding: 0;
  border-radius: 3px;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .search-form {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .search-form {
    padding: 80px 14px 45px;
  }

  .search-form__checkbox {
    font-size: 11px;
    line-height: 1.64;
  }
}
