.portfolio-card {
  border-radius: 10px;
  height: 266px;
  padding: 10px 0 0;
  display: flex;
  justify-content: center;
  border: 1px solid #dbdbdb;
  background-color: #f5f5f5;
}

.about-me__portfolio-list__submenu-link {
  text-decoration: none;
  color: black;
  font-family: "Inter";
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
}

.about-me__portfolio-list__submenu-link:hover
  .about-me__portfolio-list__submenu-item__preview::after {
  transform: scaleY(1);
  border-radius: 4px;
}

.about-me__portfolio-list__submenu-link:hover
  .submenu-item__preview-info__header-container {
  transform: scaleY(1);
}

.about-me__portfolio-list__submenu-link-label {
  margin: 0;
  text-align: center;
}

.about-me__portfolio-list__submenu-item__preview {
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  height: 200px;
  width: 184px;
  background-size: cover;
  border-radius: 4px;
  margin-top: 10px;
  box-shadow: inset 0 3px 5px -3px #282a2d;
}

.about-me__portfolio-list__submenu-item__preview::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top center;
  background: #dbdbdb;
  z-index: -1;
  transition: transform 0.3s;
  border-radius: 4px;
  box-shadow: inset 0 3px 5px -3px #282a2d;
}

.about-me__portfolio-list__submenu-item__preview::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 183px;
  border-radius: 0 0 5px 5px;
  left: 0;
  background: #fff;
  top: -36px;
  border: solid 1px #dbdbdb;
  box-shadow: 0px 10px 25px 0 #a6a6a6;
}

.submenu-item__preview-info__header-container {
  transform: scaleY(0);
  transform-origin: top center;
  transition: transform 0.3s;
  padding: 10px 0 0;
}

.submenu-item__preview-info__text-script {
  display: flex;
  font-family: "Inter";
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
  color: #5b5b5b;
  margin: 0 0 0 10px;
}

.submenu-item__preview-info__text-script__circle {
  display: block;
  text-align: center;
  width: 12px;
  height: 12px;
  border: 1px solid #f5f5f5;
  border-radius: 50%;
  margin: 0 4px 0 0;
}

.submenu-item__preview-info__text {
  font-family: "Inter";
  font-weight: normal;
  font-style: normal;
  font-size: 11px;
  line-height: 20px;
  box-sizing: border-box;
  background: #5b5b5b;
  height: 22px;
  padding-left: 27px;
  color: #fff;
}

.submenu-item__preview-info__text::before {
  content: "";
  position: absolute;
  height: 22px;
  width: 3px;
  box-shadow: 2px 0px 5px 0px #ffffff;
  border-radius: 0px 5px 5px 0px;
  background-color: #f5f5f5;
  border-left: none;
  left: 0;
}

.submenu-item__preview-info__text::after {
  content: "";
  position: absolute;
  height: 22px;
  width: 3px;
  box-shadow: -2px 0px 5px 0px #ffffff;
  border-radius: 5px 0px 0px 5px;
  background-color: #f5f5f5;
  border-right: none;
  right: 0px;
}

.submenu-item__preview-info__footer-container {
  padding: 0 8px 0 7px;
  padding-top: 20px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.submenu-item__preview-info__text-task {
  font-family: "Inter";
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
  color: #5b5b5ba8;
  margin: 12px 0 0;
}

.submenu-item__preview-info__text-demo::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 44px;
  border-radius: 5px 5px 0 0;
  right: 0;
  bottom: -42px;
  border: solid 1px #dbdbdb;
  background: #fff;
  box-shadow: 0px -10px 25px 0 #a6a6a6;
}

.submenu-item__preview-info__text-demo {
  display: flex;
  justify-content: flex-end;
  font-family: "Inter";
  font-weight: normal;
  font-style: normal;
  font-size: 11px;
  text-align: end;
  color: #0088e7;
  margin: 20px 0 0px;
}

@media screen and (max-width: 769px) {
  .about-me__portfolio-list__submenu-item__preview::before {
    top: -35px;
  }

  .submenu-item__preview-info__text-demo::before {
    bottom: -43px;
  }
}
